<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.caten.pracapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracApp">
        <activity android:name=".JaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThreadActivity" />
        <activity android:name=".PersistentBottomSheet.PersistentBottomSheetActivity" />
        <activity
            android:name=".MainActivity2hrh"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".backdrop.BackdActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fabbackdrop.DropActivity"
            android:label="@string/title_activity_drop"
            android:theme="@style/Theme.PracApp.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".bottomappbarbackdrop.BackDropActivity" />
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>